@using Coevery.UI.Resources;
@{
    Script.Include("jquery-1.5.1.min.js").AtHead();
    Style.Include("Site.css");
}

<div id="header">
    <h1><a href="/">ASP.NET MVC MUSIC STORE</a></h1>
    @Display(New.User())
    <ul id="navlist">
        <li class="first"><a href="@Url.Content("~")" id="current">Home</a></li>
        <li><a href="@Url.Action("Index", "Store")">Store</a></li>
        <li>@{ Html.RenderAction("CartSummary", new {Controller = "ShoppingCart", Area = "MusicStore"});}</li>
        @if (AuthorizedFor(Coevery.Security.StandardPermissions.AccessAdminPanel))
        {
            <li><a href="@Url.Action("Index", new {Controller = "StoreManager", Area = "MusicStore"})">Admin</a></li>
        }
    </ul>     
</div>

@{ Html.RenderAction("GenreMenu", new {Controller = "Store", Area = "MusicStore"}); }

<div id="main">
    @if(Model.Content != null) {
        @Display(Model.Content)
    }
</div>

<div id="footer">
    Built with <a href="https://github.com/Coevery/Coevery-Framework">Coevery Framework</a>
</div>